<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/x-icon" href="/assets/img/icon.png">
<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="thumbnail" content="/assets/img/logo.png">
<meta name="description" content="Hi! I am Sri Pravan Paturi, a student developer.">

{% include meta/opengraph.html %}
{% include meta/twitter.html %}