<style>
  html,
  body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    color: var(--text);
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
    font-family: var(--font-stack-serif);
    line-height: 1.75;
  }

  *:not(html):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: var(--primary-emphasis);
  }

  a {
    color: var(--secondary-emphasis);
    text-decoration: none;
  }

  a:hover {
    color: var(--secondary-emphasis);
    text-decoration: underline;
  }

  blockquote,
  em,
  i {
    font-style: oblique;
  }

  blockquote {
    margin: 0;
    padding-left: 0.66rem;
    border-left: 4px solid var(--primary-background);
  }

  code * {
    font-family: var(--font-stack-monospace);
    font-size: 0.75rem !important;
  }

  body {
    background-color: var(--secondary-background);
    display: flex;
    flex-direction: column;
    padding: 0 1.33rem;
  }

  header,
  main,
  article,
  footer {
    width: 100%;
    max-width: var(--responsive-breakpoint);
    margin: 0 auto;
    padding: 1.33rem;
  }

  header nav,
  footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  @media only screen and (max-width: 1080px) {

    header nav,
    footer nav {
      flex-direction: column;
    }
  }

  header nav>*,
  footer nav>* {
    margin: 0;
    padding: 0;
  }

  main,
  article {
    flex: 1 0 auto;
    background-color: var(--sheet);
    border: 0.166rem solid var(--primary-background);
  }

  article * {
    max-width: 100%;
  }
</style>