<script type="text/javascript">
  function changeView(location) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        var data = JSON.parse(xhttp.responseText);
        document.title = data["title"];
        document.querySelector('main').innerHTML = data["content"];
        window.scrollTo(0, 0);
      }
    };
    if (location === '/') {
      location = '/index';
    }
    location = '/raw' + location + '.json';
    console.log(location);
    xhttp.open('GET', location, true);
    xhttp.send();
  }

  window.addEventListener('popstate', function (e) {
    changeView(window.location.pathname);
  });

  document.addEventListener('click', function (e) {
    if (e.target.classList.contains('local-link')) {
      e.preventDefault();
      if (window.location.pathname != e.target.pathname) {
        history.pushState({}, '', e.target.pathname);
        changeView(e.target.pathname);
      }
    }
  });
</script>