<script>
  (function () {
    function getCurrentThemeSelection() {
      if (localStorage.getItem('themeSelection')) {
        return localStorage.getItem('themeSelection');
      }

      return 'system';
    }

    function getCurrentTheme() {
      var themeSelection = getCurrentThemeSelection();
      var systemTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
      var currentTheme = (themeSelection === 'system') ? systemTheme : themeSelection;

      return currentTheme;
    }

    var $themeSelect = document.getElementById("theme-select");
    $themeSelect.value = getCurrentThemeSelection();
    document.documentElement.setAttribute("data-theme", getCurrentTheme());

    document.getElementById("theme-select").addEventListener('change', function (event) {
      localStorage.setItem('themeSelection', event.target.value);
      document.documentElement.setAttribute("data-theme", getCurrentTheme());
    });
  })();
</script>