<!DOCTYPE html>
<html lang="en">

{{ include 'partials/head.vto' }}

<body>
    {{ include 'partials/header.vto' }}
    <main>
        {{ content }}
    </main>
    {{ include 'partials/footer.vto' }}
    {{ include 'partials/scripts.vto' }}
</body>

</html>