<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% include header.html %}
    <main class="feed">
        {% for post in site.posts %}
        <div>
            <a href="{{ post.url }}">
                <h3>{{ post.title }}</h3>
            </a>
            <time><strong>{{ post.date | date: "%B %d, %Y" }}</strong></time>
            <p><em>{{ post.excerpt | strip_html }}</em></p>
        </div>
        {% endfor %}
    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>