<!DOCTYPE html>
<html lang="en">

<head>
    {% include meta.html %}
    {% include styles/theme.html %}
    {% include styles/custom.html %}
</head>

<body>
    {% include header.html %}
    <main>
        <h1>I am</h1>
        <section class="about">
            <img src="/assets/img/pravan.jpg" height="150" width="150" alt="Sri Pravan Paturi">
            <div>
                {{ content }}
            </div>
        </section>
        <h1>I write</h1>
        <section class="feed">
            {% include feed.html %}
        </section>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>