<header>
  <nav>
    <a href="/"><h2>@sripravan</h2></a>
    <ul class="menu">
      <li><a href="/">About</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/credits">Credits</a></li>
      <li><a href="/docs/sri-pravan-paturi-resume.pdf" target="_blank">Resume</a></li>
    </ul>
  </nav>
</header>